{% assign page = site.data.lineup.lineup %}
{% assign lineup = site.data.lineup | to_array | sort:"date" %}
{% assign lineup_dates = lineup | group_by:"date"  %}


{% for date in lineup_dates %}
{% if date.name != '' %}
<section class="block--lineup" id="festival--{{ date.name }}">
  <header class="block--header">
    <h2 class="block--title">{{ date.name | date:"%d %B" }}</h2>
  </header>
  <main class="block--main">
    <dl class="block--lineup--entries">
      {% assign entries = date.items | sort:"priority" %}
      {% for entry in entries %}
        {% assign id = entry.id %}
        {% if id != 'lineup' %}
        <dd class="lineup-entry line-entry-{{ id }}" id="lineup--{{ entry.id }}">
        {% include components/lineup/list-item.html id=id entry=entry %}
        </dd>
        {% endif %}
      {% endfor %}
    </dl>
  </main>
</section>
{% endif %}
{% endfor %}

