{% assign title = page.title | append:' .:. ' | append: site.title | strip_newlines %}
{% assign name = page.layout | remove:'.html' %}
{% assign canonical = site.baseurl | append:page.url | remove:'index.html' %}
{% assign images_url = site.baseurl | append:site.assets.images %}

<!doctype html>
<!--[if lt IE 7 ]><html lang="en"  xmlns:og="http://ogp.me/ns" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" xmlns:og="http://ogp.me/ns" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" xmlns:og="http://ogp.me/ns" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" xmlns:og="http://ogp.me/ns" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"
      xmlns:og="http://ogp.me/ns"
      manifest="{{ site.baseurl }}/manifest.appcache"
      class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="copyright" content="{{ site.time | date: "%Y" }} {{ site.title }}">
  <meta name="version" content="{{ site.version }}">
  <meta name="generated_at" content="{{ site.time }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="cleartype" content="on">
  <meta property="fb:admins" content="">
  <meta property="og:site_name" content="{{ title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ canonical }}">
  <meta property="og:title" content="{{ title }}">
  {%  comment %}
  {% if site.image or page.image %}
  <meta property="og:image" content="{{ site.baseurl }}{{ site.assets.images }}{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">
  {% endif %}
  {%  endcomment %}
  {% if site.description or page.description %}
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}">
  {% endif %}
  {% if site.keywords %}
  <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="stylesheet" href="{{ site.assets.css }}main.css">
  <!-- endbuild -->
  <!-- build:js {{ site.assets.js }}{{ site.name }}.min.js -->
  <script type="text/javascript" src="{{ site.assets.js }}libs/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="{{ site.assets.js }}libs/bootstrap.scrollspy.js"></script>
  <script type="text/javascript" src="{{ site.assets.js }}background.js"></script>
  <script type="text/javascript" src="{{ site.assets.js }}navigation.js"></script>
  <script type="text/javascript" src="{{ site.assets.js }}main.js"></script>
  <script type="text/javascript">
  if (window.applicationCache) {
    // Check if a new cache is available on page load.
    window.addEventListener('load', function(e) {
      window.applicationCache.addEventListener('updateready', function(e) {
        if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
          // Browser downloaded a new app cache.
          if (confirm('A new version of this site is available. Load it?')) {
            window.location.reload();
          }
        } else {
          // Manifest didn't changed. Nothing new to server.
        }
      }, false);
    }, false);
  }
  </script>
  <!-- endbuild -->
</head>
<body class="page--{{ name }}">
