* {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.556;
  color: #efefef; }

a {
  color: #fff; }
  a img {
    vertical-align: middle; }

p {
  margin: 0 0 1em 0; }

sup {
  font-size: 0.5em; }

img {
  max-width: 100%; }

strong {
  font-weight: normal; }

.block--directions--content h3, .block--volunteer--content h3, .block--credits--content h3, .block--facilities--entry--title, .block--credits--entry--title {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.2em;
  text-shadow: 0 0 10px #DB975F; }

.block--directions--content a, .block--volunteer--content a, .block--credits--content a, .lineup-entry-content a, .block--credits--entries a {
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5); }

body section[class^="block--"] {
  opacity: 0.1;
  margin-bottom: 6em;
  transition: opacity 800ms; }

body.ready section[class^="block--"] {
  opacity: 1; }

.wrapper {
  padding-bottom: 5em; }
  .wrapper:before {
    position: fixed;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
    z-index: -1; }
  .wrapper:after {
    position: fixed;
    content: " ";
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(transparent, rgba(255, 140, 0, 0.5));
    z-index: 0; }

.wrapper-inner {
  position: relative;
  z-index: 2; }

#sky {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #005065;
  background: -moz-linear-gradient(top, #005065 0%, #00647c 13%, #bd8a91 86%, #cc8697 94%, #c9a786 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005065), color-stop(13%, #00647c), color-stop(86%, #bd8a91), color-stop(94%, #cc8697), color-stop(100%, #c9a786));
  background: -webkit-linear-gradient(top, #005065 0%, #00647c 13%, #bd8a91 86%, #cc8697 94%, #c9a786 100%);
  background: -o-linear-gradient(top, #005065 0%, #00647c 13%, #bd8a91 86%, #cc8697 94%, #c9a786 100%);
  background: -ms-linear-gradient(top, #005065 0%, #00647c 13%, #bd8a91 86%, #cc8697 94%, #c9a786 100%);
  background: linear-gradient(to bottom, #005065 0%, #00647c 13%, #bd8a91 86%, #cc8697 94%, #c9a786 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005065', endColorstr='#c9a786',GradientType=0 ); }

h2.block--title {
  text-align: left;
  font-weight: 100;
  margin: 32px 0 16px 0;
  font-family: 'Slackey', cursive;
  font-weight: 100;
  font-size: 2.4em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-top: 10px solid rgba(255, 255, 255, 0.5); }

.copyright {
  text-align: center;
  font-size: 0.85em; }

.wrapper-inner {
  max-width: 900px;
  margin: 0 auto; }

.block--header {
  text-align: center; }
  .block--header h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 7em;
    font-weight: 100;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    line-height: 1;
    margin: 32px 0 96px 0; }
    .block--header h1 a {
      color: inherit;
      text-decoration: none; }

.nav-global {
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  transition: all 500ms; }
  .nav-global svg {
    vertical-align: middle; }
  .nav-global ol {
    list-style: none; }
  .nav-global li {
    display: inline-block;
    vertical-align: bottom; }
    .nav-global li.aux {
      float: right; }
    .nav-global li ol {
      position: absolute;
      bottom: 2.4em;
      background-color: rgba(0, 0, 0, 0.4);
      left: 0;
      right: 0; }

.nav-item {
  position: fixed;
  z-index: 20;
  display: block;
  transform: translate3d(0, 0, 0);
  font-size: 1.2em;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  opacity: 0.7;
  transition: all 250ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: orange; }
  .nav-item.is-active {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 9em;
    position: absolute;
    color: #f7f3a5;
    font-weight: 100;
    line-height: 1;
    text-shadow: -6px 10px 20px #ef0e16;
    transform: translateX(-50%) translateY(45px) translate3d(0, 0, 0) rotate(-5deg);
    left: 50%;
    top: 0;
    right: auto;
    background: none !important;
    box-shadow: none !important;
    text-transform: none;
    opacity: 1; }
  .nav-item:hover {
    opacity: 1;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.8); }
  .nav-item.nav-icon {
    padding: 0;
    background: none;
    box-shadow: none;
    margin: 0 16px; }

.nav-item--info,
.nav-item--festival,
.nav-item--location {
  top: 4em; }

.nav-item--tickets {
  display: none;
  top: 0.5em;
  left: 45%; }

.nav-item--location {
  right: auto;
  left: 2em; }

.nav-item--info,
.nav-item--festival,
.nav-item--twitter {
  left: auto;
  right: 2em; }

.nav-item--facebook {
  right: 5em; }

.nav-item--facebook,
.nav-item--twitter {
  bottom: 0.5em; }

.page--info .nav-item--festival {
  left: 2em;
  right: auto; }
.page--info .nav-item--location {
  right: 2em;
  left: auto; }

.page--location .nav-item--info {
  left: 2em;
  right: auto; }

.page--home .nav-item--info {
  left: 45%;
  right: auto;
  top: auto;
  bottom: 2em; }

.block--lineup--entries img {
  float: left;
  margin: 0 16px 0 0;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.5); }

.block--lineup .block--text {
  margin: 32px 0; }
  .block--lineup .block--text em {
    background-color: #bd8a91; }

.lineup-entry {
  position: relative;
  margin: 0 0 48px 0; }
  .lineup-entry:after {
    content: "";
    display: block;
    clear: both; }

.lineup-entry-name {
  font-size: 1.5em;
  font-weight: 300; }
  .lineup-entry-name a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.lineup-entry-content {
  font-size: 0.9em; }

.lineup-entry-label {
  font-size: 0.6em; }

.lineup-entry-stage,
.lineup-entry-date,
.lineup-entry-time,
.lineup-entry-session,
.lineup-entry-label {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  vertical-align: middle; }
  .lineup-entry-stage:empty,
  .lineup-entry-date:empty,
  .lineup-entry-time:empty,
  .lineup-entry-session:empty,
  .lineup-entry-label:empty {
    display: none; }

.lineup-entry-label {
  padding: 0.2em 0.4em; }

.lineup-entry-stage {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #333;
  padding: 0.2em 0.4em;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 16px; }

.lineup-entry-label {
  background-color: orange;
  color: #fff; }

.lineup-entry-session {
  padding: 0.2em 0.4em;
  background-color: rgba(0, 0, 0, 0.4); }

.block--facilities--entries {
  -moz-column-count: 2;
  -moz-column-gap: 16px;
  -moz-column-width: auto;
  -webkit-column-count: 2;
  -webkit-column-gap: 16px;
  -webkit-column-width: auto;
  column-count: 2;
  column-gap: 16px;
  column-width: auto;
  vertical-align: top; }

.block--facilities--entry {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
  width: 100%; }

.block--directions--content {
  -moz-column-count: 3;
  -moz-column-gap: 16px;
  -moz-column-width: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 16px;
  -webkit-column-width: auto;
  column-count: 3;
  column-gap: 16px;
  column-width: auto;
  vertical-align: top; }
  .block--directions--content h3, .block--directions--content ol {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
    width: 100%;
    display: block; }

.block--directions--map {
  margin: 32px 0;
  padding: 16px 0;
  line-height: 1; }
  .block--directions--map a {
    display: block;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5); }
    .block--directions--map a span {
      display: none; }
  .block--directions--map img {
    width: 100%;
    height: auto; }

.block--volunteer--content {
  -moz-column-count: 2;
  -moz-column-gap: 16px;
  -moz-column-width: auto;
  -webkit-column-count: 2;
  -webkit-column-gap: 16px;
  -webkit-column-width: auto;
  column-count: 2;
  column-gap: 16px;
  column-width: auto;
  vertical-align: top; }
  .block--volunteer--content p {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
    width: 100%; }

.block--credits--content {
  -moz-column-count: 2;
  -moz-column-gap: 16px;
  -moz-column-width: auto;
  -webkit-column-count: 2;
  -webkit-column-gap: 16px;
  -webkit-column-width: auto;
  column-count: 2;
  column-gap: 16px;
  column-width: auto;
  vertical-align: top; }
  .block--credits--content p {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    display: inline-block;
    width: 100%; }

.block--credits--entries {
  -moz-column-count: 3;
  -moz-column-gap: 16px;
  -moz-column-width: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 16px;
  -webkit-column-width: auto;
  column-count: 3;
  column-gap: 16px;
  column-width: auto;
  vertical-align: top; }

.block--credits--entry {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
  width: 100%; }

.block--timetable--sections {
  -moz-column-count: 3;
  -moz-column-gap: 16px;
  -moz-column-width: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 16px;
  -webkit-column-width: auto;
  column-count: 3;
  column-gap: 16px;
  column-width: auto;
  vertical-align: top;
  line-height: 1;
  text-align: center;
  transition: all 500ms;
  list-style: none; }

.block--timetable--section {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 16px 0;
  font-size: 1em; }
  .block--timetable--section li {
    margin: 16px 0;
    font-size: 1em; }

.block--timetable--section--title {
  color: #111;
  font-family: Slackey,cursive;
  font-weight: 100;
  text-align: center;
  display: inline-block;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: .5em .5em .5em 2em;
  font-size: 1.6em;
  white-space: nowrap;
  position: relative;
  background: linear-gradient(135deg, transparent 10px, #e5ba65 0) top left, linear-gradient(225deg, transparent 10px, #e5ba65 0) top right, linear-gradient(315deg, transparent 10px, #e5ba65 0) bottom right, linear-gradient(45deg, transparent 10px, #e5ba65 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 14px, #e5ba65 15px), radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #e5ba65 15px), radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, #e5ba65 15px), radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #e5ba65 15px);
  transition: all 500ms; }
  .block--timetable--section--title:before {
    content: " ";
    background-color: #3c7083;
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%) translateX(50%); }
  .block--timetable--section--title:hover {
    background: linear-gradient(135deg, transparent 10px, orange 0) top left, linear-gradient(225deg, transparent 10px, orange 0) top right, linear-gradient(315deg, transparent 10px, orange 0) bottom right, linear-gradient(45deg, transparent 10px, orange 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 14px, orange 15px), radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, orange 15px), radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 14px, orange 15px), radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, orange 15px); }
  .block--timetable--section--title span {
    font-size: .6em;
    display: block;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    text-shadow: 0 0 2px #000; }

.block--timetable--section--entry {
  text-decoration: none;
  padding: 8px;
  background-color: transparent;
  transition: all 100ms; }
  .block--timetable--section--entry:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  .block--timetable--section--entry em, .block--timetable--section--entry span {
    display: inline-block;
    vertical-align: middle; }
  .block--timetable--section--entry em {
    font-style: normal;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .block--timetable--section--entry span {
    font-size: 0.6em;
    display: block;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    text-shadow: 0 0 2px #000; }

/*# sourceMappingURL=main.css.map */
