{% assign page = site.data.about %}
{% assign staff = site.data.staff %}
<a id="credits" class="side-nav--target"></a>
<section class="block--credits">
  <header class="block--header">
    <h2 class="block--title">Production</h2>
  </header>
  <main class="block--main">
    <div class="block--credits--content">
      {{ page.content | markdownify }}
    </div>
    <div class="block--credits--entries">
      {% for entry in staff %}
      {% assign category = entry[1] %}
      <dl class="block--credits--entry">
        <dt class="block--credits--entry--title">{{ category.title }}</dt>
        <dd class="block--credits--entry--content">{{ category.content | markdownify }}</dd>
      </dl>
      {% endfor %}
    </div>
  </main>
</section>
