<nav class="side-nav">
  <div class="side-nav--item"><a href="#directions" class="side-nav--text">Directions</a></div>
  <div class="side-nav--item"><a href="#facilities" class="side-nav--text">Facilities</a></div>
</nav>

<section class="block--location">
  <main class="block--main">
    <div class="block--location--photos">
      PHOTOS HERE
    </div>
  </main>
</section>

{% assign page = site.data.location.location %}
<a id="directions" class="side-nav--target"></a>
<section class="block--directions">
  <header class="block--header">
    <h2 class="block--title">Directions</h2>
  </header>
  <main class="block--main">
    <div class="block--directions--content">
      {{ page.content | markdownify }}
    </div>
    <div class="block--directions--map">
      <a href="https://goo.gl/maps/5C1vp" target="_blank"><span>Google Map</span>{% image 900xAUTO 550x400.jpg %}</a>
    </div>
  </main>
</section>

{% assign facilities = site.data.location %}
<a id="facilities" class="side-nav--target"></a>
<section class="block--facilities">
  <header class="block--header">
    <h2 class="block--title">Facilities</h2>
  </header>
  <main class="block--main block--facilities">
    <div class="block--facilities--entries">
      {% for facility in facilities %}
        {% assign id = facility[0] %}
        {% assign entry = facility[1] %}
        {% if id != 'location' %}
        <dl class="block--facilities--entry">
          <dt class="block--facilities--entry--title">{{ entry.title }}</dt>
          <dd class="block--facilities--entry--content">{{ entry.content | markdownify }}</dd>
        </dl>
        {% endif %}
      {% endfor %}
    </div>
  </main>
</section>
