<nav class="menu">
  <ol>
    <li><a class="menu--item menu--item--festival {% if navigation_active == 'festival'%}is-active{% endif %}" href="#festival--lineup"><span>Festival</span></a>
      <ul>
        <li><a class="menu--item--sub" href="#festival--2015-08-21">21 August</a></li>
        <li><a class="menu--item--sub" href="#festival--2015-08-22">22 August</a></li>
        <li><a class="menu--item--sub" href="#festival--projects">Projects</a></li>
      </ul>
    </li>
    <li><a class="menu--item menu--item--location {% if navigation_active == 'location'%}is-active{% endif %}" href="#location"><span>Location</span></a>
    </li>
    <li><a class="menu--item menu--item--tickets {% if navigation_active == 'tickets'%}is-active{% endif %}" href="#tickets"><span>Tickets</span></a></li>
    <li><a class="menu--item menu--item--info {% if navigation_active == 'info'%}is-active{% endif %}" href="#info"><span>Info</span></a>
    </li>
  </ol>
</nav>
