{% assign page = site.data.tickets %}
<section class="block--tickets">
  <main class="block--main">
    <div class="block--tickets--purchase">
      <div class="block--tickets--purchase--item">
        {% image 300xAUTO ticket-one.jpg %}
        <form action="https://www.paypal.com/cgi-bin/webscr"
              method="post"
              target="_blank">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="H4XS4QA9M48YJ">
          <input type="image" src="{% image AUTOxAUTO paypal.gif src %}" border="0" name="submit" alt="PayPal">
        </form>
      </div>
      <div class="block--tickets--purchase--item">
        {% image 300xAUTO ticket-two.jpg %}
        <form action="https://www.paypal.com/cgi-bin/webscr"
              method="post"
              target="_blank">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="VQDPG7R3A7MZJ">
          <input type="image" src="{% image AUTOxAUTO paypal.gif src %}" border="0" name="submit" alt="PayPal">
        </form>
      </div>
    </div>
    <div class="block--tickets--content">
      {{ page.content | markdownify }}
    </div>
    <aside class="block--tickets--extras">
      {{ page.extras | markdownify }}
    </aside>
  </main>
</section>
