{% assign page = site.data.tickets %}
<section class="block--tickets">
  <main class="block--main">
    <div class="block--tickets--purchase">
      <div class="block--tickets--purchase--item">
        {% image 300xAUTO ticket-one.jpg %}
      </div>
      <div class="block--tickets--purchase--item">
        {% image 300xAUTO ticket-two.jpg %}
      </div>
    </div>
    <div class="block--tickets--content">
      {{ page.content | markdownify }}
    </div>
    <aside class="block--tickets--extras">
      {{ page.extras | markdownify }}
    </aside>
  </main>
</section>
