
@mixin media($media) {
  @if $media == small {
    @media only screen and (max-width: 480px) { @content; }
  }
  @if $media == small-plus {
    @media only screen and (min-width: 481px) { @content; }
  }
  @else if $media == small-medium {
    @media only screen and (max-width: 768px) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: 481px) and (max-width: 768px) { @content; }
  }
  @else if $media == medium-plus {
    @media only screen and (min-width: 769px) { @content; }
  }
  @else if $media == small-large {
    @media only screen and (max-width: 1024px) { @content; }
  }
  @else if $media == medium-large {
    @media only screen and (min-width: 481px) and (max-width: 1024px) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: 769px) and (max-width: 1024px) { @content; }
  }
  @else if $media == large-plus {
    @media only screen and (min-width: 1024px) { @content; }
  }
  @else if $media == xlarge {
    @media only screen and (min-width: 1025px) { @content; }
  }
}

@mixin column($count: 0, $gap: $gutter, $width: auto) {
  -moz-column-count: $count;
  -moz-column-gap: $gap;
  -moz-column-width: $width;
  -webkit-column-count: $count;
  -webkit-column-gap: $gap;
  -webkit-column-width: $width;
  column-count: $count;
  column-gap: $gap;
  column-width: $width;
  vertical-align: top;
}

@mixin column-content {
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
  -o-column-break-inside:avoid;
  -ms-column-break-inside:avoid;
  column-break-inside:avoid;
  display: inline-block;
  width: 100%;
}
