.nav-global {
  // position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  // z-index: 3;

  text-align: center;
  text-transform: uppercase;


  transition: all 500ms;
  // border-radius: 100% 100% 0 0;

  svg {
    vertical-align: middle;
  }
  ol {
    list-style: none;
  }
  a {

    // background-color: rgba(0, 0, 0, 0.9);

  }

  li {
    display: inline-block;
    vertical-align: bottom;
    &.aux {
      float: right;
    }
    ol {
      position: absolute;
      bottom: 2.4em;
      // background-color: rgba(0,0,0,0.4);
      background-color: rgba(0,0,0,0.4);
      left: 0;
      right: 0;
    }
  }
}

.nav-item {
  position: fixed;
  z-index: 20;
  display: block;
  transform: translate3d(0,0,0);

  font-size: 1.2em;
  // height: 1.2em;

  color: #fff;
  padding: ($gutter/2) $gutter;
  text-decoration: none;

  opacity: 0.7;
  transition: all 250ms;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: orange;

  &.is-active {
    // display: none;

    // font-family: 'Dancing Script', cursive;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 9em;
    position: absolute;
    color: rgb(247, 243, 165);
    font-weight: 100;
    line-height: 1;
    // text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    text-shadow: -6px 10px 20px rgb(239, 14, 22);
    transform:  translateX(-50%)
                translateY(45px)
                translate3d(0, 0, 0)
                rotate(-5deg);
    left: 50%;
    top: 0;
    right: auto;
    background: none !important;
    box-shadow: none !important;
    text-transform: none;
    opacity: 1;
  }

  &:hover {
    opacity: 1;
    // height: 2em;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.8);
  }

  &.nav-icon {
    padding: 0;
    background: none;
    box-shadow: none;
    margin: 0 $gutter;
  }
}
.nav-item--info,
.nav-item--festival,
.nav-item--location {
  top: 4em;
}
.nav-item--tickets {
  display: none;
  top: 0.5em;
  left: 45%;
}
.nav-item--location {
  right: auto;
  left: 2em;
}
.nav-item--info,
.nav-item--festival,
.nav-item--twitter {
  left: auto;
  right: 2em;
}
.nav-item--facebook {
  right: 5em;
}
.nav-item--facebook,
.nav-item--twitter {
  bottom: 0.5em;
}

.page--info {
  .nav-item--festival {
    left: 2em;
    right: auto;
  }
  .nav-item--location {
    right: 2em;
    left: auto;
  }
}

.page--location {
  .nav-item--info {
    left: 2em;
    right: auto;
  }
}
.page--home {
  .nav-item--info {
    left: 45%;
    right: auto;
    top: auto;
    bottom: 2em;
  }
}
