body {
  .wrapper {
    opacity: 0.1;
    transition: opacity 1s;
  }
  canvas {
    opacity: 0.1;
    transition: opacity 500ms;
  }
}
body.ready {
  canvas,
  .wrapper {
    opacity: 1;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 2;
  padding-bottom: 5em;
  &:before {
    position: fixed;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: linear-gradient(rgba(0,0,0,0.3), transparent);
    z-index: -1;
  }
  &:after {
    position: fixed;
    // content: " ";
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(transparent, rgba(255,140,0,0.5));
    z-index: 0;
  }
}
.wrapper-inner {
  // position: relative;
  // z-index: 2;
}
#sky {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: rgb(0,80,101);
  background: -moz-linear-gradient(top,  rgba(0,80,101,1) 0%, rgba(0,100,124,1) 13%, rgba(189,138,145,1) 86%, rgba(204,134,151,1) 94%, rgba(201,167,134,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,80,101,1)), color-stop(13%,rgba(0,100,124,1)), color-stop(86%,rgba(189,138,145,1)), color-stop(94%,rgba(204,134,151,1)), color-stop(100%,rgba(201,167,134,1)));
  background: -webkit-linear-gradient(top,  rgba(0,80,101,1) 0%,rgba(0,100,124,1) 13%,rgba(189,138,145,1) 86%,rgba(204,134,151,1) 94%,rgba(201,167,134,1) 100%);
  background: -o-linear-gradient(top,  rgba(0,80,101,1) 0%,rgba(0,100,124,1) 13%,rgba(189,138,145,1) 86%,rgba(204,134,151,1) 94%,rgba(201,167,134,1) 100%);
  background: -ms-linear-gradient(top,  rgba(0,80,101,1) 0%,rgba(0,100,124,1) 13%,rgba(189,138,145,1) 86%,rgba(204,134,151,1) 94%,rgba(201,167,134,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,80,101,1) 0%,rgba(0,100,124,1) 13%,rgba(189,138,145,1) 86%,rgba(204,134,151,1) 94%,rgba(201,167,134,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005065', endColorstr='#c9a786',GradientType=0 );
}

h2.block--title {
  text-align: left;
  font-weight: 100;
  margin: ($gutter*2) 0;
  font-family: 'Slackey', cursive;
}

.copyright {
  text-align: center;
  font-size: 0.85em;
}
