
.block--timetable--sections {
  @include column(3);
  line-height: 1;
  text-align: center;
  transition: all 500ms;
  list-style: none;
}

.block--timetable--section {
  @include column-content;
  position: relative;
  margin: $gutter 0;
  font-size: 1em;
  li {
    margin: 16px 0;
    font-size: 1em;
  }
}
.block--timetable--section--title {
  color: #111;
  font-family: Slackey,cursive;
  font-weight: 100;
  text-align: center;
  display: inline-block;
  text-shadow: 0 0 3px rgba(255,255,255,.5);
  text-decoration: none;
  padding: .5em .5em .5em 2em;
  font-size: 1.6em;
  white-space: nowrap;
  position: relative;
  background: linear-gradient(135deg,transparent 10px,#e5ba65 0) top left,linear-gradient(225deg,transparent 10px,#e5ba65 0) top right,linear-gradient(315deg,transparent 10px,#e5ba65 0) bottom right,linear-gradient(45deg,transparent 10px,#e5ba65 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle at 0 0,rgba(204,0,0,0)14px,#e5ba65 15px),radial-gradient(circle at 100% 0,rgba(204,0,0,0)14px,#e5ba65 15px),radial-gradient(circle at 100% 100%,rgba(204,0,0,0)14px,#e5ba65 15px),radial-gradient(circle at 0 100%,rgba(204,0,0,0)14px,#e5ba65 15px);
  transition: all 500ms;

  &:before {
    content: " ";
    background-color: #3c7083;
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 100%;
    box-shadow: inset 0 0 10px rgba(0,0,0,.6);
    transform: translateY(-50%) translateX(50%);
  }

  &:hover {
    // http://lea.verou.me/2011/03/beveled-corners-negative-border-radius-with-css3-gradients/
    background:
      linear-gradient(135deg, transparent 10px, orange 0) top left,
      linear-gradient(225deg, transparent 10px, orange 0) top right,
      linear-gradient(315deg, transparent 10px, orange 0) bottom right,
      linear-gradient(45deg,  transparent 10px, orange 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-image:
        radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, orange 15px),
        radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, orange 15px),
        radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, orange 15px),
        radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, orange 15px);
  }

  span {
    font-size: .6em;
    display: block;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    text-shadow: 0 0 2px #000;
  }
}

.block--timetable--section--entry {
  text-decoration: none;
  padding: 8px;
  background-color: transparent;
  transition: all 100ms;
  // display: inline-block;

  &:hover {
    background-color: rgba(0,0,0,.5);
  }

  em, span {
    display: inline-block;
    vertical-align: middle;
  }
  em {
    font-style: normal;

    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  span {
    // font-size: 0.8em;
    // color: rgba(255,255,255,.5);
  }
  span {
    font-size: 0.6em;
    display: block;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    text-shadow: 0 0 2px #000;
  }
}
