{% include head.html  %}
{% assign navigation_active='festival' %}

<div class="wrapper">
  <div class="wrapper-inner">
    {% include components/header.html %}
    {% include components/navigation.html  %}

    <div id="timetable">
      {% include components/timetable.html %}
    </div>
    <div id="lineup">
      {% include components/lineup/list.html %}
    </div>
    <div id="projects">
      {% assign lineup = site.data.lineup | to_array | sort:"date" %}
      {% assign lineup_dates = lineup | group_by:"date"  %}
      <section class="block--projects">
        <header class="block--header">
          <h2 class="block--title">Projects</h2>
        </header>
        <main class="block--main">
          <dl class="block--projects--entries">
              {% for entry in lineup_dates[0].items %}
                {% assign id = entry.id %}
                {% if id != 'lineup' %}
                <dd class="projects-entry" id="projects--{{ id }}">
                {% include components/lineup/list-item.html id=id entry=entry %}
                </dd>
                {% endif %}
              {% endfor %}
          </dl>
        </main>
      </section>
    </div>
    {% include footer.html %}
  </div>
</div>
{% include end.html %}
