{% include head.html  %}

<div class="wrapper">
  <div class="wrapper-inner">
    <section id="intro">
      {% include components/intro.html  %}
    </section>

    {% include components/navigation-single.html  %}

    <section class="page page--festival" id="festival">
      <header class="page--header">
        <h1 class="page--title">Festival</h1>
      </header>

      <div id="festival--timetable">
        {% include components/timetable.html %}
      </div>

      <div id="festival--lineup">
        {% include components/lineup/list.html %}
      </div>

      <div id="festival--projects">
        <section class="block--projects">
          <header class="block--header">
            <h2 class="block--title">Projects</h2>
          </header>
          <main class="block--main">
            <p>We're delighted to announce that following our OPEN CALL, the artistic visas have now been granted to a group of talented and inventive individuals who are descending on the Republic to materialise their proposed dreams!</p>
            <p>There will be twelve creative projects in total with an interactive nature adding to the thrilling sensory experience of The Afro Banana Republic Festival. Details on all artistic projects will be coming soon so watch this space!</p>
          </main>
        </section>
      </div>
    </section>

    {% assign location = site.data.location.location %}
    <section class="page page--location" id="location">
      <header class="page--header">
        <h1 class="page--title">{{ location.title }}</h1>
      </header>
      <div id="location--directions">
        {% include components/directions.html %}
      </div>
      <div id="location--photos">
        {% image 980xAUTO location.jpg %}
      </div>
      <div id="location--facilities">
        {% include components/facilities.html %}
      </div>
    </section>

    <section class="page page--tickets" id="tickets">
      <header class="page--header">
        <h1 class="page--title">Tickets</h1>
      </header>
      {% include components/tickets.html %}
    </section>

    <section class="page page--info" id="info">
      <header class="page--header">
        <h1 class="page--title">Info</h1>
      </header>
      <div id="info--production">
        {% include components/credits.html %}
      </div>
    </section>

      <div id="info--sponsors">
        {% include components/sponsors.html %}
      </div>

    <section class="page page--social" id="social">
      <section class="block--social">
        <main>
          <ul class="block--social--links">
            <li class="block--social--link-item block--social--link-item--facebook"><a href="https://www.facebook.com/TheAfroBananaRepublic" target="_blank">{% image 50xAUTO social/facebook.png %}</a></li>
            <li class="block--social--link-item block--social--link-item--twitter"><a href="https://twitter.com/afrobananarpb" target="_blank">{% image 50xAUTO social/twitter.png %}</a></li>
            <li class="block--social--link-item block--social--link-item--instagram"><a href="https://instagram.com/afrobananarpbc" target="_blank">{% image 50xAUTO social/instagram.png %}</a></li>
            <li class="block--social--link-item block--social--link-item--vimeo"><a href="https://vimeo.com/alternativebrainsrule/videos" target="_blank">{% image 50xAUTO social/vimeo.png %}</a></li>
          </ul>
          {% include social/newsletter.signup.html %}
        </main>
      </section>
    </section>

    {% include footer.html %}
  </div>
</div>
{% include end.html %}
