
.block--credits--content {
  @extend %block--text;

  @include column(2);

  p, img {
    @include column-content;
  }
  img {
    width: auto;
    margin: 0 auto;
    display: block;
  }
}

.block--credits--entries {
  @include media(small-plus) {
    @include column(3);
    .block--credits--entry {
      @include column-content;
    }
  }
  a {
    @extend %link;
  }
}
.block--credits--entry--title {
  @extend %subtitle;
}
.block--credits--entry--content {
  em {
    font-style: normal;
    font-size: 0.8em;
    padding: 0.2em 0.3em;
    display: inline-block;
  }
}
