.block--lineup--entries {
}


.block--lineup {
  .block--text {
    margin: ($gutter * 2) 0;

    em {
      background-color: #bd8a91;
    }
  }
}

.lineup-entry {
  position: relative;
  margin: 0 0 ($gutter * 2) 0;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.lineup-entry-image {
  @include media(small-plus) {
    max-width: 35%;
    float: left;
  }
  box-shadow: 0 0 40px rgba(255,255,255,0.5);
  line-height: 1;
  img {
    vertical-align: middle;
  }
}

.lineup-entry-name,
.lineup-entry-content,
.lineup-entry-links,
.lineup-entry-sessions {
  @include media(small-plus) {
    float: right;
    width: 63.5%
  }
}

.lineup-entry-name {
  font-size: 1.5em;
  font-weight: 300;

  a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    display: block;
    line-height: 1;
  }
}

.lineup-entry-content {
  font-size: 0.9em;
  margin-top: $gutter/2;
  line-height: 1.4;
  a {
    @extend %link;
  }
}
.lineup-entry-label {
  font-size: 0.6em;
}
.lineup-entry-stage,
.lineup-entry-date,
.lineup-entry-time,
.lineup-entry-session,
.lineup-entry-label {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;

  &:empty {
    display: none;
  }
}

.lineup-entry-label {
  padding: 0.2em 0.4em;
  color: rgba(255,255,255, 0.7);
  border: 1px solid rgba(255,255,255, 0.5);
  text-transform: uppercase;
  line-height: 1;
  margin-top: -10px;
}

.lineup-entry-session {
  padding: 0.2em 0.4em;
  background-color: rgba(0,0,0,0.4);
}

.lineup-entry-stage {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #333;
  padding: 0.2em 0.4em;

  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 0 0 $gutter;
}

.lineup-entry-links {
  margin-bottom: $gutter;
}
