.menu {
  &.is-sticky {
    position: fixed;
    top: $gutter * 2;
    text-align: right;
    right: auto;

    > ol {
      width: auto;

      &:hover {
        background-color: rgba(0,0,0,0.7);
      }
    }
  }

  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: center;
  text-transform: capitalize;

  transition: all 600ms;
  transform: translate3d(0, 0, 0);

  line-height: 1;
  border-radius: 7px;

  position: relative;
  z-index: 1000;

  max-width: 980px;
  width: 100%;
  top: -2em;

  li {
    ul {
      font-size: 0.8em;
      visibility: hidden;
      z-index: -1;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0,0,0,0);
      transition: all 600ms;
      opacity: 0.1;
      text-align: right;
      padding-right: 7px;
      box-sizing: border-box;
    }
  }

  > ol {
    margin: 0;
    padding: 0;
    transition: all 200ms;
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
    width: 100%;
    position: absolute;
    right: 0;

    > li {

    }
  }
  svg, li, ol {
    display: inline-block;
    vertical-align: middle;
  }

  .active {
    > ul {
      top: 100%;
      visibility: visible;
      z-index: 1;
      opacity: 1;
    }
    > .menu--item {
      background-color: rgba(0,0,0, 0.8);

    }
    > .menu--item--sub {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  @include media(small) {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0;

    &.is-sticky {
      position: fixed;
      top: 0;
      text-align: center;

      > ol > li {
        display: inherit;
      }
    }
    > ol > li {
      display: block;
    }
    .menu--item {
      font-size: 0.8em;
      padding: 0.5em 2em;
    }
  }
}
.menu--item {
  padding: 0.5em 2.5em;
  box-sizing: border-box;
}
.menu--item,
.menu--item--sub {
  display: block;
  text-decoration: none;

  transition: all 200ms;
}
.menu--item--sub {
  padding: 0.4em 1em;
  display: block;
  background-color: rgba(0,0,0,0.2);
  border-radius: 0 0 7px 7px;
}
