.block--tickets {
  .block--main {
    overflow: hidden;
  }
}

.block--tickets--content {
  @extend %block--text;
  // @include column(3);
  float: left;
  max-width: 60%;
  // margin: ($gutter * 2) 0;

  h3, ul {
    // @include column-content;
  }
  h3 {
    // -webkit-column-break-before: always;
  }
  ul {
    // list-style: none;
    margin-bottom: 32px;
  }
}
.block--tickets--extras {
  // margin: ($gutter * 2) 0;
  font-size: 0.9em;
  float: right;
  width: 33%;
  padding: $gutter;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.2);
  ul {
    list-style: none;
  }
}
.block--tickets--purchase {
  @include column(2);
  margin: ($gutter * 2) 0;

  .block--tickets--purchase--item {
    @include column-content;

    position: relative;
    text-align: center;

    img {
      // display: block
    }
  }

  .block--tickets--purchase--action {
    position: absolute;
    bottom: 55px;
    left: 20px;
    background-color: rgba(79, 176, 208, 1);
    text-decoration: none;
    padding: 0.4em 1.4em;
    display: inline-block;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    border-radius: 4px;
  }
}
