@font-face {
    font-family: 'Amatic SC';
    src: url('/static/fonts/amaticsc/amaticsc-regular.eot');
    src: url('/static/fonts/amaticsc/amaticsc-regular.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/amaticsc/amaticsc-regular.woff2') format('woff2'),
         url('/static/fonts/amaticsc/amaticsc-regular.woff') format('woff'),
         url('/static/fonts/amaticsc/amaticsc-regular.ttf') format('truetype'),
         url('/static/fonts/amaticsc/amaticsc-regular.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

